body{
    background-color: #fffbf1;
}

h1{
    color: #ff5733;
    font-family: `Verdana`, sans-serif;
    text-aling: center;
}
p{
    color: #333333;
    font-family: `Arial`, sans-serif;
    font-size: 18px;
    text-aling: center;
}
